:root {
  --color-bg-primary: #ffc176;
  --color-bg-secundary: white;

  --color-orangeScale100: #ff8c00;
  --color-orangeScale80: #ffc176;
  --color-orangeScale60: #ff8c005b;

  --color-greyScale100: #1e1e1e;
  --color-greyScale60: #545454;
  --color-greyScale20: #12130f96;

  --color-greenDetails: #00ff043e;

  --shadow-default: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
  background-color: var(--color-bg-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1000px) {
  button,
  select,
  a,
  .header__logo {
    cursor: pointer;
  }

  input {
    cursor: text;
  }
}

.home {
  @media (min-width: 1000px) {
    width: 100%;
    height: 100vh;
  }
}
