:root {
	--color-bg-primary: #ffc176;
	--color-bg-secundary: white;
  
	--color-orangeScale100: #ff8c00;
	--color-orangeScale80: #ffc176;
	--color-orangeScale60: #ff8c005b;
	// --color-orangeScale40: #ffc176a9;
  
	--color-greyScale100: #1E1E1E;
	// --color-greyScale80: #34352c;
	--color-greyScale60: #545454;
	--color-greyScale20: #12130f96;
  
	--color-greenDetails: #00ff043e;

	--shadow-default: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  body {
	background-color: var(--color-bg-primary);
  }
  
  @media (min-width: 1000px) {
	button {
	  cursor: pointer;
	}
  }
  