header {
  min-width: 100%;
  min-height: 100px;

  background-color: var(--color-bg-secundary);
  box-shadow: var(--shadow-default);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;

  .header__div--containerLogoButtonIcons {
    width: calc(100% - 32px);

    padding: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__div--containerIcons {
      display: flex;
      align-items: center;
    }
  }

  @media(min-width: 1000px) {
    height: 120px;

    .header__div--containerLogoButtonIcons {
      width: calc(100% - 200px);
      padding: 18px 100px;
    }
    img {
      cursor: pointer;
    }
  }
}