.header_button--userControllerIcon {
  width: 40px;
  height: 40px;

  margin-right: 16px;

  background-color: var(--color-bg-secundary);

  border-radius: 100px;
  border: 1.5px solid var(--color-orangeScale80);

  display: flex;
  align-items: center;
  justify-content: center;
}
