.cartContainer__div {
  width: 100%;
  height: 100%;

  margin-top: 180px;

  .cart__div {
    width: calc(100% - 32px);

    margin: 16px;

    border-radius: 5px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    .cart__img--back {
      position: absolute;
      top: 204px;
      right: 24px;
    }

    .cart__h2--titeCart {
      width: 100%;
      height: 40px;

      border-radius: 5px 5px 0px 0px;

      background-color: var(--color-orangeScale60);

      font-size: 18px;
      color: var(--color-greyScale100);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cart__button--finalizeOrder {
        width: calc(100% - 32px);
        height: 40px;
        
        margin: 16px 0px;

        border-radius: 5px;
        border: 1px solid var(--color-orangeScale100);
      
        background-color: white;
    }
  }
}
