.cart__div--totalAndPrice {
  width: calc(100% - 32px);
  height: 50px;

  padding: 0 16px;

  background-color: var(--color-orangeScale60);

  font-size: 18px;
  color: var(--color-greyScale100);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .cart__p--totalQuantityAndPrice {
    font-size: 18px;
    color: var(--color-greyScale100);
  }
}
