.showcase__section {
  min-width: calc(100vw - 32px);

  margin: 196px 16px 16px 16px;

  padding: 32px 0 16px 0;

  border-radius: 5px;

  background-color: var(--color-bg-secundary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1000px) {
    min-width: calc(100% - 200px);
    min-height: calc(100% - 196px);

    margin: 150px 100px 100px 100px;

    padding: 0;

    justify-content: flex-start;
  }
}
